<p id="notice"></p>
<div class='container px-5 px-sm-0'>
  <div class='row'>
  <%= render 'users/list', user:@user, book:@book %>
    <div class='col-md-8 offset-md-1'>
    <h2>Books</h2>

      <table class='table table-hover table-inverse'>
      <tbody>
      <thead>

      <tr>
       <td>Title</td>
       <td>Opinion</td>
      <th colspan="3"></th>
      </tr>
      <tr>
        <td><%= @book.title  %></td>
        <td><%= @book.body %></td>
      </tr>
      </thead>
      </tbody>
      </table>
    </div>
  </div>
</div>

